<a href="https://colab.research.google.com/github/bum3632/py06/blob/master/notebook/mid_exam_py06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **파이썬 활용 중간고사 풀이**

### **중간고사 1부 (1번~5번)**

### 문제1.다음 식의 연산 결과는?

In [0]:
a = 5
b = 3
a**b    
# 답:125
# 5**3은 5의 세제곱을 의미함.(5^3을 의미함.)

125

### 문제2.다음 문자열 a에 대하여 슬라이싱을 한 결과는? a="Life is too short, You need Phython!"

In [0]:
a="Life is too short, You need Python!"
a[-16:-8]
# 답:'You need' 
# [-16:-8]이 의미하는 것은 뒤에서 16번째의 문자부터 뒤에서 8번째 까지의 문자이기 때문.

'You need'

### 문제3. 다음 list a의 인덱싱 결과는?

In [0]:
a=[1, 2, (3, 4), ['a', 'b', ['a', 'b', ['My', 'Life', 'Good']]]
a[3][-1][0]
# 답:'MY' 
# 왼쪽에서부터 순차적으로 봐야 함.([0]일 경우 왼쪽 기준으로 가장 앞의 문자를 뜻함.) 
# 그러므로 a[3]은 ['a', 'b', ['My', 'Life', 'Good']]를 뜻하고, 
# a[3][-1]은 ['My', 'Life', 'Good']를 ([-1]의 경우 뒤에서 첫번째) 뜻하므로 a[3][-1][0]은 'My'임.

'My'

### 문제4. 다음 tuple t1의 슬라이싱 결과는?

In [0]:
t1 = (0, 1, "s", "t", "u")
t1[2:-2]
# 답:('s',)
# tuple의 슬라이싱은 요소가 하나일 경우 콤마(,)를 포함해야함.
# t1[2:-2]의 결과를 출력한다면 문제2의 방식과 같음.
# 따라서 's,'가 됨.

('s',)

### 문제5. 다음 bool 값 출력 중 정확한 것은?

In [0]:
bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))
답:(True, True, False, True)
# bool([0, 1, 2]), bool([0])의 경우 리스트에 요소가 있으므로 true임.
# bool((0))의 경우 값이 0이므로 false임.
# bool((0,))의 경우 뒤에 콤마(,)가 있으므로 요소로 인정함에 true임.

(True, True, False, True)

### **중간고사 2부 (6번~10번)**

### 문제6. 다음 조건문을 1줄 코드로 변경하시오.

In [0]:
score = 80  
if score > = 60:
     message = "succes"
else:
     message = "failure"

SyntaxError: ignored

In [0]:
score =50
message = "succes" if score>=60 else "failure"
print(message)

failure

### 문제7. 다음 코드의 실행 결과는?

In [0]:
games = ["A", "B", "C"]

for cnt in range (len(games)):
  print(cnt, games[cnt], end=',')
# 답:0 A,1 B,2 C,
# len(games)이 의미하는 것은 games안 요소들에 순서 매김.
# end=','는 출력값 뒤에 콤마(,) 달아주는 것임.

0 A,1 B,2 C,

### 문제8. 다음의 결과가 출력되지 않는 것은? 'I ate 10 apples, so i was sick for three days.'

In [0]:
# code start
number = 10
day = "three"

### 문제9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오. 

*5 + 10 + 15 + 20 + 25 + ... + 955 + 960 + 965 + 970 + 975 + ... + 995 + 1000 = ?

In [0]:
sum([num for num in range(1,1001) if num % 5 == 0])
# 답:100500
# 1부터 1000까지의 5의 배수

100500

### 문제10. 4개 과목의 평균 성적을 구하시오. [a], [b]에 적합한 코드는?
       subjects = ['python', 'english', 'math', 'science']
       scores = [88, 77, 66, 95]
       total = 0

      for subject, score in [a]_____(subjects, scores):
           total += score
           print(subject, score)

     print("평균점수 = (0)", format([b]_____)

In [0]:
subjects = ['python', 'english', 'math', 'science']
scores = [ 88, 77, 66, 95]
total = 0
for subject, score in zip(subjects,scores): 
  total += score 
  print(subject,score)

print("평균 점수 = {0}".format(total/len(subjects)))
# 답:total/len(subjects) 사용해야함
# 과목 수만큼 나눠주면 평균임.

python 88
english 77
math 66
science 95
평균 점수 = 81.5